.button {
  display: flex;
  align-items: center;

  width: 100%;
}

.locationBtn {
  flex: 1;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}
.locationBtn p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
